/* Style for the entire page */
* {
  margin: 3px;
  padding: 0px;
  box-sizing: border-box;
}
/* Coloring for page */
/* :root {
  --deeper: #1b1464;
  --deep: #5758bb;
  --medium: #9980fa;
  --wrong: red;
} */
/* Styling for the body */

body {
  border: 5px solid black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--deep);
  align-items: center;
  justify-content: space-evenly;
  color: var(--deeper);
  height: 85vh;
}
header {
  display: flex;
  border: 5px solid brown;
  width: 97vw;
  justify-content: space-between;
}

/* Styling for the whole quiz */
main {
  border: 5px solid red;
  height: 60vh;
  align-self: center;
  flex-direction: column;
}
.invisibile {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/* Styling introduction */
.intro {
  margin: 5px;
  border: 5px solid green;
  height: 20vh;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.quizTitle {
  border: 5px solid orange;
  display: flex;
  justify-content: center;
  font-size: 36px;
}
.quizIntroduction {
  border: 5px solid yellow;
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.startButton {
  border: 5px solid greenyellow;
  padding: 15px;
  background: blueviolet;
  border-radius: 15px;
  font-size: 18px;
  transition-duration: 0.1s;
  color: azure;
  width: 10vw;
  display: flex;
  justify-content: center;
}
/* Styling for quiz questions */
.quizQuestionaire {
  border: 5px solid blue;
  margin-top: 35px;
  height: 35vh;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
.quizQuestion {
  border: 5px solid indigo;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.quizAns {
  border: 5px solid violet;
  height: 20vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
ul li {
  border: 5px solid rebeccapurple;
  list-style: none;
}
